@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap"); /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --fw-reg: 400;
  --fw-bold: 700;
  --fs-sm: 0.5rem;
  --fs-sm-b: 0.85rem;
  --fs-base: 16px;
  --fs-b-md: 1.25rem;
  --fs-md: 1.5rem;
  --fs-lg: 2rem;
  --fs-xl: 2.5rem;
}

:root {
  --clr-pri-main: hsl(179, 62%, 43%);
  --clr-pri-main-lt: hsl(179, 62%, 63%);
  --clr-pri-accent: hsl(71, 73%, 54%);
  --clr-neu-gr-lt: hsl(204, 43%, 93%);
  --clr-neu-gr-bl: hsl(218, 22%, 67%);
}

:root {
  --mar-sm: 0.5em;
  --mar-base: 1em;
  --mar-md: 1.5em;
  --mar-lg: 2em;
  --mar-xl: 2.5em;
  --pad-sm: 0.5em;
  --pad-base: 1em;
  --pad-md: 1.5em;
  --pad-lg: 2em;
  --pad-xl: 2.5em;
}

body {
  background-color: var(--clr-neu-gr-lt);
  font-family: "Karla", sans-serif;
  display: grid;
  place-content: center;
}

.container {
  margin: 0 var(--mar-lg);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}
@media (min-width: 660px) {
  .container {
    margin: 0 var(--mar-base);
  }
}

.ad__description {
  padding: var(--pad-md);
  display: flex;
  flex-direction: column;
  background-color: white;
}
@media (min-width: 660px) {
  .ad__description {
    padding: var(--pad-lg);
  }
}
.ad__description h1 {
  color: var(--clr-pri-main);
  font-size: var(--fs-b-md);
}
.ad__description h2 {
  color: var(--clr-pri-accent);
  font-size: var(--fs-base);
  margin: var(--mar-md) 0;
}
.ad__description p {
  color: var(--clr-neu-gr-bl);
  font-size: var(--fs-sm-b);
  line-height: 1.5rem;
}
@media (min-width: 660px) {
  .ad__description h1 {
    font-size: var(--fs-md);
  }
  .ad__description h2 {
    font-size: 1.125rem;
    margin: var(--mar-base) 0;
  }
  .ad__description p {
    font-size: var(--fs-base);
  }
}

@media (min-width: 660px) {
  .ad__feeandoffers {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.ad__fee {
  padding: var(--pad-md);
  display: flex;
  flex-direction: column;
  background-color: var(--clr-pri-main);
  color: var(--clr-neu-gr-lt);
}
@media (min-width: 660px) {
  .ad__fee {
    padding: var(--pad-lg);
  }
}
.ad__fee h2 {
  font-size: var(--fs-b-md);
}
.ad__fee h3 {
  font-size: var(--fs-lg);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.ad__fee h3 span {
  font-weight: var(--fw-reg);
  font-size: var(--fs-base);
  color: #c1d7e6;
}
.ad__fee p {
  margin-bottom: var(--mar-md);
}
.ad__fee button {
  background-color: var(--clr-pri-accent);
  border: none;
  color: var(--clr-neu-gr-lt);
  padding: var(--pad-sm);
  border-radius: 0.25rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
@media (min-width: 660px) {
  .ad__fee h2 {
    font-size: 1.125rem;
    margin-bottom: 0.65em;
  }
  .ad__fee p {
    margin-bottom: var(--mar-lg);
  }
  .ad__fee button {
    padding: 0.75em;
  }
}

.ad__offers {
  padding: var(--pad-md);
  display: flex;
  flex-direction: column;
  background-color: #55c1bf;
  color: var(--clr-neu-gr-lt);
}
@media (min-width: 660px) {
  .ad__offers {
    padding: var(--pad-lg);
  }
}
.ad__offers ul {
  padding-left: 0;
}
.ad__offers ul li {
  font-size: var(--fs-sm-b);
  color: #d3e3ee;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=style.css.map */